.score__passed {
  background: var(--secondary-color);
  border-radius: 0.4rem;
  width: 80%;
  margin: auto;
  padding: 0.7rem;
  margin-top: 1.5rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  box-shadow: 0.1rem 0.2rem 1.5rem rgba(0, 0, 0, 0.4);
  cursor: auto;
}

.score__btns {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.score__btns .btn:last-child {
  background-color: var(--background-color);
  color: white;
}
