.statistics-clock {
  width: 95%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: auto;
  margin-bottom: 1rem;
  border: 0.2rem dashed var(--background-color);
  border-radius: 0.4rem;
  font-weight: 500;
}

.statistics-clock span {
  font-size: 1.5rem;
}
