.keyboard {
  background: var(--secondary-color);
  padding: 0.5rem;
  width: 100%;

  padding: 1rem 2rem;
  align-items: center;
  font-size: 2rem;
  color: white;
  gap: 2.5rem;
  border-top: 0.15rem solid var(--gray-color);
  overflow: hidden;
  z-index: 99;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -0.4rem 1.5rem rgba(0, 0, 0, 0.4);
}

.keyboard__bubbles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.keyboard__submit {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  /*FORMATO PC*/
  .keyboard__bubbles {
    width: 60%;
    margin: auto;
  }
}
