.tutorial {
  color: var(--secondary-color);
  pointer-events: none;
}

.tutorial__description {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  text-align: left;
}

.tutorial__description ul {
  padding-left: 2rem;
}

.tutorial__description li {
  margin-bottom: 0.3rem;
}

.tutorial h4 {
  margin: 0.5rem 0;
  margin-top: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-left: -2rem;
}

.tutorial span {
  font-weight: 500;
  text-align: center;
  font-size: 1.3rem;
  color: var(--secondary-color);
}

.tutorial__example {
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 0.4rem;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.tutorial__example h3 {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}

.tutorial__label {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 0.8rem;
}

.tutorial__solution {
  border-bottom: 0.15rem dashed var(--secondary-color);
  padding-bottom: 1rem;
}

.tutorial__solution .sequence {
  margin-right: 4.6rem;
}

.tutorial__solution .sequence:first-child {
  margin-right: 0;
}

.tutorial__example .bubble {
  width: 3rem;
  height: 3rem;
}

.tutorial__example .result {
  height: 2rem;
}

.tutorial__example .row {
  padding: 0;
}

.tutorial__response-container {
  background: var(--background-color);
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 1rem auto;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-weight: 500;
}

.tutorial__response-container h3 {
  margin: 0;
  font-weight: 500;
  color: var(--secondary-color);
}

.tutorial__response {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-start;
}

.tutorial__response .result__elem {
  width: 2rem;
  height: 1rem;
}

.tutorial__cookies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;
}

.tutorial__cookies div {
  padding: 0.7rem 1.3rem;
  border-radius: 0.4rem;
  background: var(--background-color);
  color: white;
  cursor: pointer;
  pointer-events: all;
}
