:root {
  --background-color: #444857;
  --gray-color: #adadb4;
}

.colorset {
  text-align: center;
  background: #444857;
  height: 100vh;
  position: relative;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
