:root {
  --background-color: #444857;
  --secondary-color: #6d748f;
  --gray-color: #adadb4;
  --error-color: #ff6961;
  --box-shadow: 0.1rem 0.2rem 1.5rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) {
  /*FORMATO MÓVIL*/
  html {
    font-size: 12px;
  }
}

.app {
  text-align: center;
  background: #444857;
  height: 100vh;
  position: relative;
}

@font-face {
  font-family: 'no-virus';
  src: url('./Fonts/no-virus.ttf');
}

.btn {
  display: inline-block;
  margin: auto;
  background: white;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  font-weight: 500;
  padding: 0.7rem 2rem;
  width: 13rem;
  font-size: 0.8rem;
  color: var(--secondary-color);
  cursor: pointer;
}
