.attempts {
  width: 90%;
  margin: auto;
  text-align: left;
  border-bottom: 0.15rem solid var(--gray-color);
  padding: 0.2rem;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.attempts--warn span {
  color: var(--error-color);
}
